header{
    position: absolute;
    z-index: 400;
    height: auto;
    
    background: none;
    width: 100%;
    background-color: rgba($color: white, $alpha: 0.7);
    backdrop-filter: blur(1.5rem);
    border-bottom: 0.2rem solid rgba($color: #6F7C84, $alpha: 0.4) ;
    .container{
        
        max-width: 160rem;
        padding-top: 1.5rem;
        display: flex;
        padding-bottom: 1.5rem;
        flex-direction: column;
        .header_content{
            display: flex;
            width: 100%;
            justify-content: space-between;
            
        
        .busca{
            display: flex;
            border: 0.1rem solid #6F7C84;
            border-radius: 5rem;
            margin: 1rem 0;
            padding-left: 2rem;
            padding-right: 2rem;
            width: 300px;
            justify-content: space-between;
            input{
                font-size: 1.8rem;
                font-weight: 600;   
            }
            button{
                display: flex;
                align-items: center;
            }
        }
        ul{
            display: flex;
            gap: 6rem;
            align-items: center;
            .active{
                color: #6F7C84;

            }
            button{
                display: flex;
                font-size: 1.8rem;
                font-weight: 600;
                align-items: center;
                
                &:hover{
                    color: #6F7C84;
                    transition: 0.2s;
                }
                
            }
            .logar{
                padding-left: 7rem;
                a{
                    gap: 1rem;
                    display: flex;
                    align-items: center;
                }
                
                &:hover{
                    filter: invert(50%) sepia(5%) saturate(934%) hue-rotate(159deg) brightness(95%) contrast(86%);

                   
                }
            }
        }
    }


    .before_menu{
    .active{
        overflow: hidden;
        transition:  0.5s ease-in-out;
        height: 20rem;
        
        .active{
            display: block!important;
            animation: FadeIn 0.5s forwards;
        }
        .menus{
            display: none;
            
        }
    }
    
    .menu{
        overflow: hidden;
        display: flex;
        height: 0px;
        width: 100%;      
        transition: 0.5s ease-in-out;;
        
        .active{
            display: block!important;
            animation: FadeIn 0.5s forwards;
        }
            .menus{
                display: none;
                
            }
        
    }
    }
    }
    

}

